@media only screen
and (max-width:480px){
    html{
    width: 100%;
	background-color: gray;
}

body{
    width: 100%;
    margin-top: 0;
	background-color: gray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: #fff;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

header {
	font-size: 20px;
}

ul {
	width: 25%
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #721010;
}

#foto {
	display: none;
}



